<ion-content [fullscreen]="true">
  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <h1>Ejemplo</h1>
    </ion-label>
  </ion-title>

  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center">
      <ion-card-title>
        <ion-label>
          <h1>Ejemplos de input</h1>
        </ion-label>
      </ion-card-title>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <!-- Al input de nombre le agregamos en ngModel (datos)-->
          <ion-input type="" [(ngModel)]="dato"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Numero</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Correo</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Fecha</ion-label>
          <ion-input type="date"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-card-content>
      <!-- boton con metodo includo-->
      <ion-button expand="block" (click)="saludar()">saludar</ion-button>
      <ion-button expand="block" (click)="siguiente()">siguiente</ion-button>
    </ion-card>
  </div>
</ion-content>